<% if @user.id == current_user.id %>
  <h1>マイページ</h1>
  <%= link_to "アカウントを編集する", edit_user_path(@user.id) %>
<% else %>
  <h1><%= @user.nickname %>さんのページ</h1>
<% end %>
<%= link_to "トップページへ戻る", root_path %>

<% if @user.avatar? %>
  <%= image_tag @user.avatar.url %>
<% else %>
  <i class="fas fa-user"></i>
<% end %>

<div id = "relationship_<%= @user.id %>">
  <%= render partial: "relationships/relationship", locals: { user: @user } %>
</div>

<%= link_to "お気に入り", likes_user_path(@user) %>

<%= link_to "フォロー", followings_user_path(@user) %>
<%= link_to "フォロワー", followers_user_path(@user) %>

<p><%= @user.nickname %>さんの投稿一覧</p><br/>
<%= render partial: "posts/post", collection: @posts %>
