<div class="container">
  <div class="row mt-3 mb-5 justify-content-center">
    <div class="col-12 col-md-10 col-lg-6 p-2">
      <div class="devise-box">
        <div class="container">
          <div class="row justify-content-center">
            <%= form_with model: @post, local: true do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <div class="col-12 mb-3">
                <%= f.label :"タイトルを入力してください" %><br />
                <%= f.text_field :title, placeholder: "タイトル", size: "50", class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :"コメントを入力してください" %><br />
                <%= f.text_area :text, placeholder: "コメント", class: "form-control" %>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :"オススメの時間帯を入力してください" %><br />
                <%= f.collection_select(:time_slot_id, TimeSlot.all, :id, :name, {}, {class: "form-control"}) %>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :"カテゴリーを入力してください" %><br />
                <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class: "form-control"}) %>
              </div>
              <div class="col-12 mb-3">
                <%= f.label :"オススメのシチュエーションを入力してください" %><br />
                <%= f.collection_select(:situation_id, Situation.all, :id, :name, {}, {class: "form-control"}) %>
              </div>
              <div class="col mb-3">
                <%= f.label :"場所を入力してください" %><br />
                <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: "form-control"}) %>
              </div>
              <div class="col mb-3">
                <%= f.label :"オススメの天気を入力してください" %><br />
                <%= f.collection_select(:weather_id, Weather.all, :id, :name, {}, {class: "form-control"}) %>
              </div>
              <div class="col-12 mb-4">
                <%= f.label :"画像を選択してください" %><br />
                <%= f.file_field :image %>
              </div>
              <div class="login-box col-12 pt-4 mb-4">
                <%= f.submit " 投稿 " %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
